.ideas {
  padding: 20px 44px 20px 20px;

  @include small-tablet {
    padding: 15px 15px;
  }

  &__stats {
    display: flex;
    justify-content: end;

    &-icon {
      margin-right: 18px;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: linear-gradient(to bottom, #bfdb9180, #bfdb91);

      @include small-tablet{
        display: none;
      }
    }

    &-ideas {
      display: flex;
      margin-right: 61px;

      @include tablet {
        margin-right: 20px;
      }

      @include mobile{
       margin-right: 10px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: 5px;

      &--name {
        margin-top: 3px;
        color: #a3aed0;
        font-family: 'DM Sans';
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.32px;

        @include small-mobile{
          font-size: 12px;
        }
      }

      &--num {
        color: #1b2559;
        font-family: 'DM Sans';
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.36px;
        text-align: center;
      }
    }

    &-btn {
      margin-left: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #bfdb9180, #bfdb91);
      padding: 16px 51px 15px;
      color: var(--Secondary-Dark-Grey-900, #1b2559);
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.28px;
      border-radius: 10px;
      margin-right: 24px;
      transition: all .3s;
      
      &:hover{
        opacity: .7;
      }

      @include small-tablet{
        margin-left: 0;
        margin-right: 0;
      }

      @include mobile {
        padding: 0px 10px 0px;
        height: 40px;
        align-self: center;
      }
    }
  }

  &__post {
    display: flex;
    padding: 14px 18px 13px;
    margin-top: 24px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #f9fcf4;
    background: #f8f9fb;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    align-items: center;

    &:hover{
        background: #F9FCF4;
    }

    @include small-tablet {
      padding: 10px 10px;
      margin-top: 15px;
    }

    @include mobile {
      flex-direction: column;
      align-items: start;
    }

    &-text {
      max-width: 450px;
      margin-left: 27px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include small-tablet {
        margin-left: 10px;
      }

      @include mobile{
        margin-left: 0;
        margin-top: 10px;
      }

      &-title {
        color: #000;
        font-weight: 700;
        letter-spacing: 0.7px;
      }

      &-descr {
        color: #1d2433;
        line-height: 20px;
        letter-spacing: -0.28px;
        font-size: 12px;
      }
    }
  }
  &__tags {
    align-items: end;
    display: flex;
    gap: 10px;

    

    &--styles {
      transform: translateY(3px);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 55px;
      max-width: auto;
      padding: 1px 1px;
      height: 22px;
      border-radius: 100px;
      background: #eaeaea;
      color: #808080;
      letter-spacing: 0.5px;
      transition: all .3s;
      
      &:hover{
        background: #C7C7C7;
      }

    }
  }
  &__metrics {
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    @include mobile{
      gap: 5px;
      margin-left: 0;
      padding-left: 0;
      margin-top: 5px;
    }


    &-top {
      align-self: end;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 13px;
      width: 49px;
      height: 70px;
      border-radius: 4px;
      border: 1px solid #dae1eb;

      @include mobile {
        align-self: flex-start;
      }

      &-num {
        color: #4e5979;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.48px;
      }
    }
    &-bot {
      margin-top: 16px;
      display: flex;
      gap: 15px;
      color: #808080;
      letter-spacing: 0.39px;

      @include mobile{
        margin-top: 5px;
      }
    }
  }
}
