<section class="post">
    <div class="post__top">
        <div class="post__top-textBlock">
            <h3 class="post__top-title">Idea name</h3>
            <span class="post__top-descr date text-p-medium">Published date : 12 May 2025</span>
        </div>
        <div class="post__top-textBlock rating">
            <h3 class="post__top-title">Status</h3>
            <span class="post__top-descr text-p-medium">Current status</span>
        </div>
        <div class="post__top-textBlock">
            <h3 class="post__top-title">Total votes</h3>
            <span class="post__top-descr text-p-medium">Average rating</span>
        </div>
        <div class="post__top-num">
            <h3 class="post__top-number">1025</h3>
            <span class="post__top-descr ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path
                        d="M14.3398 8.81934L14.457 9.09668L14.7568 9.12305L20.7803 9.64551L16.2227 13.5977L15.9951 13.7939L16.0625 14.0879L17.4209 19.9609L12.2578 16.8467L12 16.6914L11.7422 16.8467L6.57812 19.9609L7.9375 14.0879L8.00488 13.7939L7.77734 13.5977L3.21875 9.64551L9.24316 9.12305L9.54297 9.09668L9.66016 8.81934L12 3.28418L14.3398 8.81934Z"
                        fill="#5f6d7e" stroke="#5f6d7e" />
                </svg>
                4.2
            </span>
        </div>
    </div>
    <div class="post__container">
        <div class="post__wrapper">
            <div class="post__item post__item--hero">
                <div class="post__item-photo">

                </div>
                <div class="post__item-container">
                    <div class="post__item-infoTop">
                        <div class="post__item-infoTop-text">
                            <span class="post__item-infoTop-text-autor">By TechInnovator <span
                                    class="post__item-infoTop-text-date"> 15.01.2024</span></span>
                            <p class="post__item-infoTop-text-descr ">Main description, Main description, Main
                                description, Main description, Main description,
                                Main description</p>
                        </div>
                        <div class="post__item-infoTop-rate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8"
                                fill="none">
                                <path
                                    d="M1.13654 7.70754C1.32406 7.89501 1.57837 8.00032 1.84354 8.00032C2.1087 8.00032 2.36301 7.89501 2.55054 7.70754L7.50054 2.75754L12.4505 7.70754C12.6391 7.88969 12.8917 7.99049 13.1539 7.98821C13.4161 7.98593 13.6669 7.88076 13.8524 7.69535C14.0378 7.50995 14.1429 7.25913 14.1452 6.99694C14.1475 6.73474 14.0467 6.48214 13.8645 6.29354L8.20754 0.636536C8.02001 0.449065 7.7657 0.34375 7.50054 0.34375C7.23537 0.34375 6.98106 0.449065 6.79354 0.636536L1.13654 6.29354C0.949065 6.48106 0.84375 6.73537 0.84375 7.00054C0.84375 7.2657 0.949065 7.52001 1.13654 7.70754Z"
                                    fill="black" />
                            </svg>
                            <span>1024</span>
                        </div>
                    </div>
                    <div class="post__item-infoBot">
                        <div class="post__item-info-tags">
                            <span class="ideas__tags--styles text-p-xSsmall">#AI</span>
                            <span class="ideas__tags--styles text-p-xSsmall">#Tech</span>
                            <span class="ideas__tags--styles text-p-xSsmall">#Innovation</span>
                        </div>
                        <div class="post__item-info-metrics">
                            <span class="post__item-info-num">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                                    fill="none">
                                    <path
                                        d="M0.625 7.5C0.625 7.5 3.125 2.5 7.5 2.5C11.875 2.5 14.375 7.5 14.375 7.5C14.375 7.5 11.875 12.5 7.5 12.5C3.125 12.5 0.625 7.5 0.625 7.5Z"
                                        stroke="#808080" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M7.5 9.375C8.53553 9.375 9.375 8.53553 9.375 7.5C9.375 6.46447 8.53553 5.625 7.5 5.625C6.46447 5.625 5.625 6.46447 5.625 7.5C5.625 8.53553 6.46447 9.375 7.5 9.375Z"
                                        stroke="#808080" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                125 views
                            </span>
                            <span class="post__item-info-num">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                                    fill="none">
                                    <path
                                        d="M13.125 9.375C13.125 9.70652 12.9933 10.0245 12.7589 10.2589C12.5245 10.4933 12.2065 10.625 11.875 10.625H4.375L1.875 13.125V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V9.375Z"
                                        stroke="#808080" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                15 comments
                            </span>
                            <span class="post__item-info-num">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                    fill="none">
                                    <g clip-path="url(#clip0_328_4152)">
                                        <path
                                            d="M9.91732 12.25V11.0833C9.91732 10.4645 9.67149 9.871 9.2339 9.43342C8.79632 8.99583 8.20282 8.75 7.58398 8.75H2.91732C2.29848 8.75 1.70499 8.99583 1.2674 9.43342C0.829817 9.871 0.583984 10.4645 0.583984 11.0833V12.25"
                                            stroke="#808080" stroke-width="1.25" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M5.24935 6.41667C6.53801 6.41667 7.58268 5.372 7.58268 4.08333C7.58268 2.79467 6.53801 1.75 5.24935 1.75C3.96068 1.75 2.91602 2.79467 2.91602 4.08333C2.91602 5.372 3.96068 6.41667 5.24935 6.41667Z"
                                            stroke="#808080" stroke-width="1.25" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M13.416 12.2484V11.0817C13.4156 10.5647 13.2436 10.0625 12.9268 9.6539C12.6101 9.2453 12.1666 8.95347 11.666 8.82422"
                                            stroke="#808080" stroke-width="1.25" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M9.33398 1.82422C9.83589 1.95273 10.2808 2.24463 10.5984 2.6539C10.9161 3.06317 11.0886 3.56654 11.0886 4.08464C11.0886 4.60273 10.9161 5.1061 10.5984 5.51537C10.2808 5.92464 9.83589 6.21654 9.33398 6.34505"
                                            stroke="#808080" stroke-width="1.25" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_328_4152">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                15 ratings
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">General description</h4>
                <p class="post__item-descr text-p-default">General description long text what doea it to do?</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Audience</h4>
                <p class="post__item-descr text-p-default">Long text who is it for?</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Сompetitors</h4>
                <p class="post__item-descr text-p-default">Long text with main competotors</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">What problem is solved</h4>
                <p class="post__item-descr text-p-default">Long text what problem is solved?</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Value proposition and USP</h4>
                <p class="post__item-descr text-p-default">Long text</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Sales and marketing plan</h4>
                <p class="post__item-descr text-p-default">Long text</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">What support is needed</h4>
                <p class="post__item-descr text-p-default">Long text </p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Link to the site/APP/prototype </h4>
                <p class="post__item-descr text-p-default">URL</p>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__item">
                <h4 class="post__item-title text-p-default">Founder contacts</h4>
                <p class="post__item-descr text-p-default">URL</p>
            </div>
        </div>
        <div class="post__slider-cont">
            <div class="swiper-button-prev post__slider-prev">
            </div>
            <div class="swiper post__slider">
                <div class="swiper-wrapper post__slider-wrapper">
                    <div class="swiper-slide post__slider-slide">
                        <img src="./assets/images/image_2025-07-04_14-39-02.png" alt="">
                    </div>
                    <div class="swiper-slide post__slider-slide">
                        <img src="./assets/images/image_2025-07-04_14-39-02.png" alt="">
                    </div>
                </div>
                <div class="swiper-pagination post__slider-pagination"></div>
            </div>
            <div class="swiper-button-next post__slider-next">
            </div>
        </div>

        <div class="swiper post__slider-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./assets/images/image_2025-07-04_14-39-02.png" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/image_2025-07-04_14-39-02.png" />
                </div>
            </div>
        </div>

        <section class="rating-box">
            <h3 class="rating-box__title">Rate this Idea <span class="rating-box__average">Average: 4.2/5</span></h3>

            <form class="rating-box__form">
                <div class="rating-box__item">
                    <div class="raiting-box--left">
                        <div class="rating-box__label">
                            <strong>Relevance</strong>
                            <span>How relevant is this idea?</span>
                        </div>
                        <div class="rating-box__stars" data-category="relevance"></div>
                    </div>
                    <span class="rating-box__avg">Avg: 4.1/5</span>
                </div>

                <div class="rating-box__item">
                    <div class="raiting-box--left">
                        <div class="rating-box__label">
                            <strong>Uniqueness</strong>
                            <span>How unique and original is this idea?</span>
                        </div>
                        <div class="rating-box__stars" data-category="uniqueness"></div>
                    </div>
                    <span class="rating-box__avg">Avg: 4.5/5</span>
                </div>

                <div class="rating-box__item">
                    <div class="raiting-box--left">
                        <div class="rating-box__label">
                            <strong>Potential</strong>
                            <span>What is the potential impact of this idea?</span>
                        </div>
                        <div class="rating-box__stars" data-category="potential"></div>
                    </div>
                    <span class="rating-box__avg">Avg: 4.3/5</span>
                </div>

                <div class="rating-box__item">
                    <div class="raiting-box--left">
                        <div class="rating-box__label">
                            <strong>Readiness</strong>
                            <span>How ready is this idea for implementation?</span>
                        </div>
                        <div class="rating-box__stars" data-category="readiness"></div>
                    </div>
                    <span class="rating-box__avg">Avg: 3.9/5</span>
                </div>

                <button type="submit" class="rating-box__submit">Submit Ratings</button>
            </form>
        </section>

        <h3 class="post__comments-title">Comments & suggestions</h3>

        <form class="comments__form">
            <textarea placeholder="Type here your wise suggestion or comment"></textarea>
            <div class="comments__form-actions">
                <button type="button" class="comments__form-actions-cancel">Cancel</button>
                <button type="submit" class="comments__form-actions-send">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path
                            d="M11.875 8.62891C11.875 8.91622 11.7609 9.19177 11.5577 9.39494C11.3545 9.5981 11.079 9.71224 10.7917 9.71224H4.29167L2.125 11.8789V3.21224C2.125 2.92492 2.23914 2.64937 2.4423 2.44621C2.64547 2.24304 2.92102 2.12891 3.20833 2.12891H10.7917C11.079 2.12891 11.3545 2.24304 11.5577 2.44621C11.7609 2.64937 11.875 2.92492 11.875 3.21224V8.62891Z"
                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Send</button>
            </div>
        </form>

        <div class="comments__container">
            <div class="comment">
                <div class="comment__header">
                    <div class="comment__avatar"></div>
                    <div>
                        <div class="comment__username">@username 1</div>
                        <div class="comment__date">12.06.25 19:35</div>
                    </div>
                    <div class="comment__menu">⋮</div>
                </div>
                <div class="comment__text">
                    Комментарии, мысли, ответы, вопросы, Комментарии, мысли, ответы, вопросы,<br>
                    Комментарии, мысли, ответы, вопросы, Комментарии, мысли, ответы, вопросы,<br>
                    Комментарии, мысли, ответы, вопросы,
                </div>
                <div class="comment__footer">
                    <div class="comment__reactions">
                        <span>👍 12</span>
                        <span>💬 3</span>
                    </div>
                    <div class="comment__actions">
                        <button class="comment__action">↑ Hide (2)</button>
                        <button class="comment__action">Reply</button>
                    </div>
                </div>

                <div class="comment reply">
                    <div class="comment__text">
                        <strong>@username 1</strong>, Ответ на комментарий
                    </div>
                    <div class="comment__meta">
                        by <span class="comment__reply-author">@username 2</span> who reply
                    </div>
                    <button class="comment__action">Reply</button>
                </div>
            </div>

        </div>

    </div>
    </div>
</section>